<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/proxima-nova-condensed" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/830d8d2c62.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="./img/logo/iconnew.png">
    <title>Divine Clone</title>
</head>

<body class="bg-body-secondary">
    <section>
        <div class="container">
            <div class="d-flex justify-content-center  mt-4 p-3 rounded-top" style="background-color: #2679f2;">
                <a class="navbar-brand text-white fw-bold" href="#">
                    <img src="https://cdn.divineshop.vn/static/b1402e84a947ed36cebe9799e47f61c2.svg" alt=""
                        style="width: 49px; height: 49px;">
                    Divine Shop
                </a>
            </div>
            <div class="container bg-white rounded-bottom">
                <div class="modal-content p-5 py-4">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 d-flex flex-column align-items-center">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-3 mb-4">OTP Code</h1>
                                </div>
                                <p style="font-size: 0.85rem; text-align: center;">Đăng nhập để theo dõi đơn hàng, lưu
                                    danh sách sản phẩm yêu thích và nhận nhiều ưu đãi hấp dẫn</p>
                                <form id="otpForm" class="space-y-6">
                                    <div class="mb-3" style="display: flex; gap: 15px; justify-content: center;">
                                        <input type="text" class="form-control" name="otp1" id="otp1" maxlength="1"
                                            style="width: 50px; height: 50px; text-align: center; font-size: 1.5rem;">
                                        <input type="text" class="form-control" name="otp2" id="otp2" maxlength="1"
                                            style="width: 50px; height: 50px; text-align: center; font-size: 1.5rem;">
                                        <input type="text" class="form-control" name="otp3" id="otp3" maxlength="1"
                                            style="width: 50px; height: 50px; text-align: center; font-size: 1.5rem;">
                                        <input type="text" class="form-control" name="otp4" id="otp4" maxlength="1"
                                            style="width: 50px; height: 50px; text-align: center; font-size: 1.5rem;">
                                        <input type="text" class="form-control" name="otp5" id="otp5" maxlength="1"
                                            style="width: 50px; height: 50px; text-align: center; font-size: 1.5rem;">
                                        <input type="text" class="form-control" name="otp6" id="otp6" maxlength="1"
                                            style="width: 50px; height: 50px; text-align: center; font-size: 1.5rem;">
                                    </div>
                                    <button type="submit" class="btn w-100 mt-3 btn-primary" id="ConfirmOtpId">Xác nhận OTP</button>
                                </form>
                                <div>
                                    <span th:if="${error}" th:text="${error}"  style="color: red;"></span>
                                    <span th:if="${message}" th:text="${message}"  style="color: green;"></span>
                                    <span th:if="${success}" th:text="${success}"  style="color: black;"></span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <img src="https://cdn.divineshop.vn/static/c92dc142033ca6a66cda62bc0aec491b.svg"
                                        class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--    <script src="/templates/RentalShop/JS/ConfirmOtpJs.js"></script>-->
    <script>
        $(document).ready(function () {
            $('#ConfirmOtpId').click(function (event) {
                event.preventDefault(); // Ngăn chặn hành vi mặc định của nút submit

                // Collect OTP inputs
                var otp1 = $('#otp1').val();
                var otp2 = $('#otp2').val();
                var otp3 = $('#otp3').val();
                var otp4 = $('#otp4').val();
                var otp5 = $('#otp5').val();
                var otp6 = $('#otp6').val();

                // Combine OTP
                var otp = otp1 + otp2 + otp3 + otp4 + otp5 + otp6;

                // Prepare data to send
                var formData = {
                    otp: otp // Gửi mã OTP đã nhập
                };

                // Send POST request
                $.ajax({
                    type: 'POST',
                    url: '/confirm-register', // Địa chỉ API của bạn
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: "Thành công !",
                                text: "Bạn đã đăng ký tài khoảng thành công!",
                                icon: "success"
                            }).then(() => {
                                location.href = "/login111"; // Chuyển hướng tới trang đăng nhập
                            });
                        } else {
                            // Xử lý khi yêu cầu thất bại
                            Swal.fire({
                                title: "Thất bại !",
                                text: "Mã Otp Không đúng!", // Hiển thị thông báo lỗi từ máy chủ
                                icon: "error"
                            }).then(() => {
                                // Xóa hết giá trị trong các input OTP
                                $('#otp1').val('');
                                $('#otp2').val('');
                                $('#otp3').val('');
                                $('#otp4').val('');
                                $('#otp5').val('');
                                $('#otp6').val('');
                            });
                        }
                    },
                    error: function () {
                        // Xử lý khi yêu cầu thất bại
                        Swal.fire({
                            title: "Thất bại !",
                            text: "Mã Otp Không đúng!", // Hiển thị thông báo lỗi từ máy chủ
                            icon: "error"
                        }).then(() => {
                            // Xóa hết giá trị trong các input OTP
                            $('#otp1').val('');
                            $('#otp2').val('');
                            $('#otp3').val('');
                            $('#otp4').val('');
                            $('#otp5').val('');
                            $('#otp6').val('');
                        });
                    }
                });
            });
        });

    </script>
</body>

</html>