<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.cdnfonts.com/css/proxima-nova-condensed" rel="stylesheet">                
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
  <script src="https://kit.fontawesome.com/830d8d2c62.js" crossorigin="anonymous"></script>  
  <link rel="icon" type="image/x-icon" href="./img/logo/iconnew.png">
  <title>Divine Clone System Administrator</title>
  <style>
    .list-group-item.active{
      background-color: white;
      border-color: #dee2e6;
      border-left: 5px solid black;
      font-weight: bold;
      color: black !important;
    }

    .accordion-button:not(.collapsed) {      
      background-color: unset !important;      
    }

    .accordion-button:focus {    
      border-color: unset !important;
    }
  </style>
</head>
<header th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="d-none d-lg-block" style="background-color: #0a59cc;">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center">
              <div>
                  <a href="#" class="nav-link text-white" style="font-size: 0.8rem;"><i class="fa-solid fa-angle-left"></i> <i class="fa-solid fa-angle-right"></i> Tài khoản OpenAI - ChatGPT (Có sẵn 5$)</a>
              </div>
              <div>
                  <ul class="navbar-nav flex-row gap-4 text-white" style="font-size: 0.85rem;">
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa-solid fa-book me-2"></i> Hướng dẫn mua hàng</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa-solid fa-percent me-2"></i> Ưu đãi khách hàng</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa-solid fa-phone me-2"></i> Thông tin liên hệ</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div style="background-color: #2679f2;">
      <nav class="navbar navbar-expand-lg">
          <div class="container">
                <button class="navbar-toggler border-0 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <a class="navbar-brand text-white fw-bold d-none d-lg-block" th:href="@{/}">
                    <img src="https://cdn.divineshop.vn/static/b1402e84a947ed36cebe9799e47f61c2.svg" alt="" style="width: 49px; height: 49px;">
                    Divine Shop
                </a>
                <form class="d-flex" style="width: 35%;" role="search" action="/all-products" method="get" id="searchForm">
                    <input id="searchInput" name="searchInput" class="form-control rounded-end-0" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search">
                    <button class="btn text-white rounded-start-0" id="searchButton" style="background-color: #0a59cc;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>                                    
                

                
              
              <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <!--TanLoc-Begin-->
                <div class="text-white" id="div-login-logout" sec:authorize="isAnonymous()">
                    <a th:href="@{/log-in}">
                        <button type="button" id="btnLogin" class="btn btn-outline-light rounded-circle"><i class="fa-solid fa-user"></i></button>
                        <button type="button" class="btn p-0 text-white fw-semibold"  style="font-size: 0.83rem;">Đăng nhập</button>
                    </a>
                    <span style="font-size: 0.83rem;">/</span>
                    <a th:href="@{/register}"><button type="button" class="btn p-0 text-white fw-semibold" style="font-size: 0.83rem;">Đăng ký</button></a>
                </div>
                <div class="d-none" id="divUserInfo" sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fw-bold" style="font-size: 0.85rem;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://cdn.divineshop.vn/image/catalog/icon/avatar-khach-hang-2-52544.png?hash=1649933269" class="rounded-circle" alt="" width="42px" height="42px">
                                Hi <span sec:authentication="name" id="user_name"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="py-1 px-3"  style="font-size: 0.85rem;">Số dư tài khoản</li>
                                <li><a class="dropdown-item fw-bold py-2" th:href="@{/add-funds}">4.000đ <i class="fa-solid fa-plus text-primary"></i></a></li>
                                <div sec:authorize="hasRole('ADMIN')">
                                    <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/admin/product-list}">Quản trị</a></li>
                                </div>
                                <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/user-info}">Quản lý tài khoản</a></li>
                                <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/order-history}">Lịch sử đơn hàng</a></li>
                                <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/favorite}">Sản phẩm yêu thích</a></li>
                                <li>
                                    <form action="#" th:action="@{/logout}" method="post" class="p-0 m-0">
                                        <button type="submit" id="logout" class="dropdown-item border-0 bg-transparent" style="font-size: 0.85rem;">Đăng Xuất</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>                
              </div>
              <!--TanLoc-End-->
              <a th:href="@{/cart}">
                <button type="button" class="btn btn-outline-light px-3 py-2" style="font-size: 0.9rem;"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng <span class="badge text-bg-light px-1" id="soluong">0</span></button>
            </a>
          </div>
      </nav>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="max-width: 300px;">
        <div class="offcanvas-body p-0">
            <!--TanLoc-Begin-->
            <div class="bg-primary text-white p-3" id="div-login-logout" sec:authorize="isAnonymous()">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <a th:href="@{/log-in}">
                            <button type="button" id="btnLogin" class="btn btn-outline-light rounded-circle"><i class="fa-solid fa-user"></i></button>
                            <button type="button" class="btn p-0 text-white fw-semibold"  style="font-size: 0.83rem;">Đăng nhập</button>
                        </a>
                        <span style="font-size: 0.83rem;">/</span>
                        <a th:href="@{/register}"><button type="button" class="btn p-0 text-white fw-semibold" style="font-size: 0.83rem;">Đăng ký</button></a>
                    </div>
                    <div class="d-none" id="divUserInfo" sec:authorize="isAuthenticated()">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white fw-bold" style="font-size: 0.85rem;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://cdn.divineshop.vn/image/catalog/icon/avatar-khach-hang-2-52544.png?hash=1649933269" class="rounded-circle" alt="" width="42px" height="42px">
                                    Hi <span sec:authentication="name" id="user_name"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="py-1 px-3"  style="font-size: 0.85rem;">Số dư tài khoản</li>
                                    <li><a class="dropdown-item fw-bold py-2" th:href="@{/add-funds}">4.000đ <i class="fa-solid fa-plus text-primary"></i></a></li>
                                    <div sec:authorize="hasRole('ADMIN')">
                                        <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/admin/product-list}">Quản trị</a></li>
                                    </div>
                                    <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/user-info}">Quản lý tài khoản</a></li>
                                    <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/order-history}">Lịch sử đơn hàng</a></li>
                                    <li><a class="dropdown-item" style="font-size: 0.85rem;" th:href="@{/favorite}">Sản phẩm yêu thích</a></li>
                                    <li>
                                        <form action="#" th:action="@{/logout}" method="post" class="p-0 m-0">
                                            <button type="submit" id="logout" class="dropdown-item border-0 bg-transparent" style="font-size: 0.85rem;">Đăng Xuất</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn text-white" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>   
            <div class="p-3">
                <div class="d-flex flex-column justify-content-between rounded p-2 bg-white h-100">
                    <li class="list-group-item border-0 p-0"><a th:href="@{/}" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><i class="fa-solid fa-house"></i> Trang Chủ</a></li>                    
                </div>
                <hr>
                <div class="d-flex flex-column justify-content-between rounded p-2 bg-white h-100">
                    <li class="list-group-item border-0 p-0"><a href="/all-products?p=Giải trí" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/giaitri-25627.svg?hash=1640449820" alt="" width="21px" height="18px"> Giải trí</a></li>
                    <li class="list-group-item border-0 p-0"><a href="/all-products?p=Làm việc" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/lamviec-71000.svg?hash=1640449820" alt="" width="21px" height="18px"> Làm việc</a></li>
                    <li class="list-group-item border-0 p-0"><a href="/all-products?p=Học tập" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/lamviec-71000.svg?hash=1640449820" alt="" width="21px" height="18px"> Học tập</a></li>
                    <li class="list-group-item border-0 p-0"><a href="/all-products?p=Steam" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/Steam-66507.svg?hash=1640449899" alt="" width="21px" height="18px"> Game Steam</a></li>
                    <li class="list-group-item border-0 p-0"><a href="/all-products?p=Edit" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/pen-to-square-solid-13941.svg?hash=1713254193" alt="" width="21px" height="18px"> Edit Ảnh-Video</a></li>
                    <li class="list-group-item border-0 p-0"><a  class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/roblox2-83248.svg?hash=1649948527" alt="" width="21px" height="18px"> Window, Office</a></li>
                    <li class="list-group-item border-0 p-0"><a href="#" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/Xbox%20Logo-88261.svg?hash=1640449899" alt="" width="21px" height="18px"> Google Drive</a></li>
                    <li class="list-group-item border-0 p-0"><a href="/all-products?p=Steam Wallet" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/Steam%20Wallet-41454.svg?hash=1640449899" alt="" width="21px" height="18px"> Steam Wallet</a></li>
                    <li class="list-group-item border-0 p-0"><a href="/all-products?p=Diệt Virus" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/file-shield-solid-33250.svg?hash=1713254097" alt="" width="21px" height="18px"> Diệt Virus</a></li>
                    <li class="list-group-item border-0 p-0"><a href="/all-products?p=Google Play, iTunes" class="fw-bold w-100 text-start btn p-0 ps-1 py-1"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/Google%20Play-42608.svg?hash=1640449899" alt="" width="21px" height="18px"> Google Play, iTunes</a></li>
                </div>
            </div>     
        </div>
    </div>
      <div class="container d-none d-lg-block">
          <div class="d-flex justify-content-between align-items-center pb-3">
              <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-eye"></i> Sản phẩm bạn vừa xem</a>
              <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-fire-flame-curved"></i> Sản phẩm mua nhiều</a>
              <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-percent"></i> Sản phẩm khuyến mại</a>
              <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-map-location-dot"></i> Đại lý giao dịch</a>
              <a href="#" class="nav-link text-white" style="font-size: 0.9rem;"><i style="font-size: 1rem;" class="me-2 fa-solid fa-credit-card"></i> Hình thức thanh toán</a>
          </div>
      </div>
  </div>
  <div class="bg-white border-bottom border-light-subtle d-none d-lg-block">
      <div class="container">
          <div class="d-flex justify-content-between align-items-center py-2">
              <button type="button" class="btn fw-bold"  style="font-size: 0.83rem;"><i class="fa-solid fa-bars me-2 fs-6"></i> Danh mục sản phẩm</button>
              <div class="d-flex justify-content-between align-items-center gap-4">
                  <a href="#" class="nav-link fw-bold" style="font-size: 0.83rem;"><img src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/Nap-thesvg-30724.svg?hash=1640449820" style="width: 39px; height: 39px;" alt=""> Thủ thuật & Tin Tức</a>
                  <a href="#" class="nav-link fw-bold" style="font-size: 0.83rem;"><img src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/Gioi-thieu-ban-be-87652.svg?hash=1640449820" style="width: 39px; height: 39px;" alt=""> Giới thiệu bạn bè</a>
                  <a href="#" class="nav-link fw-bold" style="font-size: 0.83rem;"><img src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/Lien-he-hop-tac-33199.svg?hash=1640449820" style="width: 39px; height: 39px;" alt=""> Liên hệ hợp tác</a>
                  <a href="#" class="nav-link fw-bold" style="font-size: 0.83rem;"><img src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/Uu-dai-khach-vip-79547.svg?hash=1640449820" style="width: 39px; height: 39px;" alt=""> Ưu đãi khách hàng VIP</a>
              </div>
          </div>
      </div>
  </div>
</header>



<main th:fragment="home">
    <div class="py-3">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-2 d-none d-lg-block">
                        <div class="d-flex flex-column justify-content-between rounded p-2 bg-white h-100">
                            <li class="list-group-item border-0 p-0"><a href="/all-products?p=Giải trí" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/giaitri-25627.svg?hash=1640449820" alt="" width="21px" height="18px"> Giải trí</a></li>
                            <li class="list-group-item border-0 p-0"><a href="/all-products?p=Làm việc" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/lamviec-71000.svg?hash=1640449820" alt="" width="21px" height="18px"> Làm việc</a></li>
                            <li class="list-group-item border-0 p-0"><a href="/all-products?p=Học tập" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Anh/Icon%20svg/lamviec-71000.svg?hash=1640449820" alt="" width="21px" height="18px"> Học tập</a></li>
                            <li class="list-group-item border-0 p-0"><a href="/all-products?p=Steam" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/Steam-66507.svg?hash=1640449899" alt="" width="21px" height="18px"> Game Steam</a></li>
                            <li class="list-group-item border-0 p-0"><a href="/all-products?p=Edit" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/pen-to-square-solid-13941.svg?hash=1713254193" alt="" width="21px" height="18px"> Edit Ảnh-Video</a></li>
                            <li class="list-group-item border-0 p-0"><a  class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/roblox2-83248.svg?hash=1649948527" alt="" width="21px" height="18px"> Window, Office</a></li>
                            <li class="list-group-item border-0 p-0"><a href="#" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/Xbox%20Logo-88261.svg?hash=1640449899" alt="" width="21px" height="18px"> Google Drive</a></li>
                            <li class="list-group-item border-0 p-0"><a href="/all-products?p=Steam Wallet" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/Steam%20Wallet-41454.svg?hash=1640449899" alt="" width="21px" height="18px"> Steam Wallet</a></li>
                            <li class="list-group-item border-0 p-0"><a href="/all-products?p=Diệt Virus" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/file-shield-solid-33250.svg?hash=1713254097" alt="" width="21px" height="18px"> Diệt Virus</a></li>
                            <li class="list-group-item border-0 p-0"><a href="/all-products?p=Google Play, iTunes" class="w-100 text-start btn p-0 ps-1 py-1" style="font-size: 0.87rem;"><span class="d-inline-block text-truncate m-0" style="max-width: 120px;"><img class="me-1" src="https://cdn.divineshop.vn/image/catalog/Banner/Icon/Google%20Play-42608.svg?hash=1640449899" alt="" width="21px" height="18px"> Google Play, iTunes</span></a></li>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-7">
                        <div id="carouselExampleAutoplaying" class="carousel slide h-100" data-bs-ride="carousel">
                            <div class="carousel-inner h-100">
                                <div class="carousel-item h-100 active">
                                    <img src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Kh%C3%A1c/chatGPT-70878.jpg?hash=1681283148" class="d-block h-100 w-100 rounded" alt="...">
                                </div>
                                <div class="carousel-item h-100">
                                    <img src="https://cdn.divineshop.vn/image/catalog/Anh/24.12.21/t%E1%BB%91i%20%C6%B0u%20c%C3%B4ng%20vi%E1%BB%87c-45178.png?hash=1640349471" class="d-block h-100 w-100 rounded" alt="...">
                                </div>
                                <div class="carousel-item h-100">
                                    <img src="https://cdn.divineshop.vn/image/catalog/Banner/banner%20Google%20One%20(3)-10567.png?hash=1658937523" class="d-block h-100 w-100 rounded" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="row h-100 mt-3 mt-lg-0">
                            <div class="col-6 col-lg-12 mb-lg-3"><a href="#"><img class="rounded" width="100%" height="100%" src="https://cdn.divineshop.vn/image/catalog/Banner/VPN%20(3)-84756.png?hash=1707128734" alt=""></a></div>
                            <div class="col-6 col-lg-12 mt-lg-3"><a href="#"><img class="rounded" width="100%" height="100%" src="https://cdn.divineshop.vn/image/catalog/Banner/Spotify%20(3)-18327.png?hash=1707128744" alt=""></a></div>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="row mt-4 row-gap-2">
                    <div class="col-6 col-sm-3">
                        <img src="https://cdn.divineshop.vn/image/catalog/Banner/Steam%20(3)-52065.png?hash=1707128754" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-6 col-sm-3">
                        <img src="https://cdn.divineshop.vn/image/catalog/Banner/Discord-55203.png?hash=1707128822" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-6 col-sm-3">
                        <img src="https://cdn.divineshop.vn/image/catalog/Banner/gmail%20(3)-89591.png?hash=1707128794" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-6 col-sm-3">
                        <img src="https://cdn.divineshop.vn/image/catalog/Banner/Microsoft%20Office%20(3)-13556.png?hash=1707128807" class="img-fluid rounded" alt="">
                    </div>
                </div>
            </section>

            <section>
                <div class="mt-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="m-0 fw-bold">Sản phẩm nổi bật</h5>
                        <a type="button" class="btn btn-primary fw-bold" style="font-size: 0.8rem;" href="/all-products">Khám phá</a>
                    </div>
                    <p>Danh sách những sản phẩm theo xu hướng mà có thể bạn sẽ thích</p>
                    <div class="row gy-3" id="div-san-pham-noi-bac">
                        <a class="col-6 col-md-4 col-lg-3 text-decoration-none" href="detail/tai-khoan-netflix-1-thang">
                            <div class="card border-0 bg-transparent">
                                <img src="/images/Netflix-1.png" class="card-img-top rounded" alt="Netflix Premium 1 tháng - Tài khoản">
                                <div class="card-body  px-0">
                                    <h5 class="card-title" style="font-size: 0.9rem;">Netflix Premium 1 tháng - Tài khoản</h5>
                                    <div class="d-flex gap-2 align-items-center">
                              <p style="font-size: 0.9rem;" class="m-0 fw-bold">98.800&nbsp;₫</p>
                              <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000&nbsp;₫</p>
                              <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">62%</p>
                           </div>
                                </div>
                            </div>
                        </a>
                        <a class="col-6 col-md-4 col-lg-3 text-decoration-none" href="detail/tai-khoan-netflix-1-thang">
                            <div class="card border-0 bg-transparent">
                                <img src="/images/Netflix-1.png" class="card-img-top rounded" alt="Netflix Premium 1 tháng - Tài khoản">
                                <div class="card-body  px-0">
                                    <h5 class="card-title" style="font-size: 0.9rem;">Netflix Premium 1 tháng - Tài khoản</h5>
                                    <div class="d-flex gap-2 align-items-center">
                              <p style="font-size: 0.9rem;" class="m-0 fw-bold">98.800&nbsp;₫</p>
                              <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000&nbsp;₫</p>
                              <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">62%</p>
                           </div>
                                </div>
                            </div>
                        </a>
                        <a class="col-6 col-md-4 col-lg-3 text-decoration-none" href="detail/tai-khoan-netflix-1-thang">
                            <div class="card border-0 bg-transparent">
                                <img src="/images/Netflix-1.png" class="card-img-top rounded" alt="Netflix Premium 1 tháng - Tài khoản">
                                <div class="card-body  px-0">
                                    <h5 class="card-title" style="font-size: 0.9rem;">Netflix Premium 1 tháng - Tài khoản</h5>
                                    <div class="d-flex gap-2 align-items-center">
                              <p style="font-size: 0.9rem;" class="m-0 fw-bold">98.800&nbsp;₫</p>
                              <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000&nbsp;₫</p>
                              <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">62%</p>
                           </div>
                                </div>
                            </div>
                        </a>
                        <a class="col-6 col-md-4 col-lg-3 text-decoration-none" href="detail/tai-khoan-netflix-1-thang">
                            <div class="card border-0 bg-transparent">
                                <img src="/images/Netflix-1.png" class="card-img-top rounded" alt="Netflix Premium 1 tháng - Tài khoản">
                                <div class="card-body  px-0">
                                    <h5 class="card-title" style="font-size: 0.9rem;">Netflix Premium 1 tháng - Tài khoản</h5>
                                    <div class="d-flex gap-2 align-items-center">
                              <p style="font-size: 0.9rem;" class="m-0 fw-bold">98.800&nbsp;₫</p>
                              <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">260.000&nbsp;₫</p>
                              <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">62%</p>
                           </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <hr>
                </div>
            </section>

            <section>
                <div class="mt-5">
                    <h5 class="mb-3 fw-bold">Từ khóa nổi bật</h5>
                    <div class="row row-gap-3">
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link text-white"><div style="background-color: #3d5a80;" class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold">Làm việc</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link text-white"><div style="background-color: #98c1d8;" class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold">Giải trí</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link text-white"><div style="background-color: #ee6c4d;" class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold">Học tập</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link text-white"><div style="background-color: #293241;" class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold">Spotify</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link text-white"><div style="background-color: #545b67;" class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold">Wallet</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link text-white"><div style="background-color: #767c85;" class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold">Youtube</div></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container-fluid p-0">
            <section>
                <div class="mt-5 pb-5" style="padding-top: 11rem; background-repeat: no-repeat; background-size: 120%; background-color: rgb(0, 13, 33); background-image: url(https://divineshop.vn/static/0de2668c294edf9d5fd8a8647b2c65b6.png);">
                    <div class="container">
                        <div class="d-flex flex-column flex-sm-row row-gap-2 justify-content-between align-items-center">
                            <div class="border rounded-pill border-1 border-white p-3"><h5 class="m-0 fw-bold text-white"><i class="fa-solid fa-arrow-trend-up text-danger me-2"></i> #Sản phẩm bán chạy nhất</h5></div>
                            <a type="button" class="btn btn-primary fw-bold" style="font-size: 0.8rem;" href="/all-products">Khám phá</a>
                        </div>
                        <div class="mt-3 row gy-3" id="div-san-pham-ban-chay">
                            
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <section>
                <div class="mt-5">
                    <h5 class="mb-3 fw-bold">Giá phù hợp</h5>
                    <div class="row row-gap-3">
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link "><div class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold bg-white border border-1">20.000đ</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link "><div class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold bg-white border border-1">50.000đ</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link "><div class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold bg-white border border-1">100.000đ</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link "><div class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold bg-white border border-1">200.000đ</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link "><div class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold bg-white border border-1">500.000đ</div></a>
                        </div>
                        <div class="col-4 col-lg-2">
                            <a href="#" class="nav-link "><div class="w-100 h-100 text-center px-2 py-1 px-md-3 py-md-2 px-xl-5 py-xl-4 rounded fw-bold bg-white border border-1">1.000.000đ</div></a>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="mt-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="m-0 fw-bold">Sản phẩm Giảm giá </h5>
                        <a type="button" class="btn btn-primary fw-bold" style="font-size: 0.8rem;" href="/all-products">Khám phá</a>
                    </div>
                    <p>Danh sách những sản phẩm giảm giá nhiều nhất mà có thể bạn sẽ thích</p>
                    <div class="row gy-3" id="div-san-pham-giam-gia">

                    </div>
                    <hr>
                </div>
            </section>
        </div>
    </div>
</main>
<footer th:fragment="footer">
    <div class="container-fluid bg-black " id="goi-y-dang-nhap-dang-ky">
        <div class="container py-5 px-md-1 px-lg-5">
            <div class="d-flex align-items-center justify-content-center gap-5 flex-column flex-md-row">
                <div class=""><img src="https://cdn.divineshop.vn/static/528b91cfa29c7ffd85418f4b1e8cc8ce.svg" alt=""></div>
                <div class="text-white">
                    <h3>Bạn chưa có tài khoản?</h3>
                    <p style="font-size: 0.9rem;" class="my-4">Hãy tạo ngay một tài khoản để sử dụng đầy đủ các tính năng, tích lũy ưu đãi khi thanh toán các sản phẩm và tham gia vào chương trình Giới thiệu bạn bè nhận hoa hồng vĩnh viễn tại Divine Shop.</p>
                    <div class="d-flex align-items-start align-items-sm-center justify-content-start flex-column flex-sm-row row-gap-3">
                        <a type="button" class="btn btn-primary fw-bold text-nowrap"  href="/register">Đăng ký ngay</a>
                        <p class="m-0 ms-sm-3 me-1 text-nowrap">Hoặc bạn đã có tài khoản?</p>
                        <a href="/log-in"  class="nav-link fw-bold text-nowrap">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-white">
        <div class="container py-3">
            <a class="d-flex align-items-center gap-3 nav-link" href="#">
                <img src="https://cdn.divineshop.vn/static/b77a2122717d76696bd2b87d7125fd47.svg" class="" height="25px" alt="Ví MoMo" title="Ví MoMo">
                <img src="https://cdn.divineshop.vn/static/72a3a36fc7c66085b3f442940ba45fde.svg" class="" height="25px" alt="Mobile Banking với VnPay" title="Mobile Banking với VnPay">
                <img src="https://cdn.divineshop.vn/static/464c7c79044dea88e86adf0e1b9c064c.svg" class="" height="25px" alt="Thẻ VISA" title="Thẻ VISA">
                <img src="https://cdn.divineshop.vn/static/ddb866eb1214c914ea62417879046b99.svg" class="" height="25px" alt="Thẻ Mastercard" title="Thẻ Mastercard">
                <small>và nhiều hình thức thanh toán khác</small>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="d-flex gap-2 align-items-center pt-3">
            <a href="https://www.facebook.com/divineshop.vn" class="ra"><img height="25px"  src="https://cdn.divineshop.vn/static/4ba68c7a47305b454732e1a9e9beb8a1.svg" class="" alt="Facebook" title="Facebook"></a>
            <a href="#" class="ra"><img height="25px" src="https://cdn.divineshop.vn/static/20334129395885adefc2e5217043f670.svg" class="" alt="Youtube" title="Youtube"></a>
            <a href="#" class="ra"><img height="25px" src="https://cdn.divineshop.vn/static/4ae438165f9d5ea0fc6ff3da6051f938.svg" class="" alt="Instagram" title="Instagram"></a>
        </div>
        <hr>
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h6>GIỚI THIỆU</h6>
                <ul class="nav flex-column" style="font-size: 0.9rem;">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Game bản quyền là gì?</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Giới thiệu Divine Shop</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Điều khoản dịch vụ</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách bảo mật</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h6>TÀI KHOẢN</h6>
                <ul class="nav flex-column" style="font-size: 0.9rem;">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Đăng nhập</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Đăng ký</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-3">
                <h6>LIÊN HỆ</h6>
                <ul class="nav flex-column" style="font-size: 0.9rem;">
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Hotline tự động <span class="text-danger">1900 633 305</span></a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Liên hệ Hỗ trợ</a></li>
                    <li class="nav-item"><a href="#" class="nav-link p-0 text-body-secondary">Chat với CSKH</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-5 mb-3">
                <img src="https://images.dmca.com/Badges/_dmca_premi_badge_2.png?ID=18522dc6-fdd6-4b49-ab40-395a79849050" class="img-fluid float-end" alt="DMCA.com Protection Status">
            </div>
        </div>
    </div>
</footer>