<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/proxima-nova-condensed" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/830d8d2c62.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/x-icon" href="./img/logo/iconnew.png">
    <title>Profile</title>
</head>
<body>
<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid me-2 fa-user"></i> Tài khoản</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-cart-shopping"></i> Lịch sử đơn hàng</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-credit-card"></i> Lịch sử giao dịch</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-user-lock"></i> Mật khẩu và bảo mật</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-comment"></i> Bình luận của tôi</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-heart"></i> Sản phẩm yêu thích</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-link"></i> Giới thiệu bạn bè</button>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4>Tổng quan</h4>
                    <div class="row mt-3">
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Tên đăng nhập</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">hieuchi1999</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Email</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">nhoxcau1999@gmail.com</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Họ và tên</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">Huy Phạm</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Nhóm khách hàng</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold"><i class="fa-solid fa-gem"></i> Vip Bạc</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Số dư</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">4.910đ</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Đã tích lũy</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">4.857.000đ</p>
                        </div>
                        <div class="col-3">
                            <p style="font-size: 0.85rem;" class="fw-light mb-2">Ngày tham gia</p>
                            <p style="font-size: 0.85rem;"  class="fw-bold">2017-07-22 17:46:37</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-5">
                            <div class="d-flex align-items-center gap-3">
                                <img src="https://cdn.divineshop.vn/image/catalog/icon/avatar-khach-hang-2-52544.png?hash=1649933269" width="154px" height="154px" alt="">
                                <button type="button" class="btn btn-outline-primary">Sửa ảnh đại diện</button>
                            </div>
                        </div>
                        <div class="col-1"><div class="vr h-100"></div></div>
                        <div class="col-6">
                            <div class="d-flex align-items-center h-100">
                                <div>
                                    <p style="font-size: 0.87rem;">Vui lòng chọn ảnh nhỏ hơn 5MB</p>
                                    <p class="m-0" style="font-size: 0.87rem;">Chọn hình ảnh phù hợp, không phản cảm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-5">
                            <h4>Cá nhân</h4>
                            <form action="">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Họ và tên">
                                </div>
                                <div class="mb-3">
                                    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Số điện thoại">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="CMND">
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Địa chỉ">
                                </div>
                                <button class="btn btn-primary" type="">Lưu thay đổi</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action rounded rounded-bottom-0"><i class="fa-solid me-2 fa-user"></i> Tài khoản</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-cart-shopping"></i> Lịch sử đơn hàng</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-credit-card"></i> Lịch sử giao dịch</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid me-2 fa-user-lock"></i> Mật khẩu và bảo mật</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-comment"></i> Bình luận của tôi</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-heart"></i> Sản phẩm yêu thích</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-link"></i> Giới thiệu bạn bè</button>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4>Mật khẩu & Bảo mật</h4>
                    <p>Vì sự an toàn, Divine Shop khuyến khích khách hàng sử dụng mật khẩu mạnh và bảo mật hai lớp</p>
                    <hr>
                    <div class="row">
                        <div class="col-5">
                            <h6 class="fw-bold">Đổi mật khẩu</h6>
                            <form action="">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mật khẩu mới">
                                </div>
                                <div class="mb-3">
                                    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Nhập lại mật khẩu mới">
                                </div>
                                <button class="btn btn-primary" type="">Lưu thay đổi</button>
                            </form>
                        </div>
                        <div class="vr p-0 mx-3"></div>
                        <div class="col-6">
                            <div class="d-flex align-items-center h-100">
                                <div>
                                    <h6 class="fw-bold">Mật khẩu của bạn</h6>
                                    <p style="font-size: 0.87rem;">Phải từ 8 ký tự trở lên</p>
                                    <p style="font-size: 0.87rem;">Nên có ít nhất 1 số hoặc 1 ký tự đặc biệt</p>
                                    <p class="m-0" style="font-size: 0.87rem;">Không nên giống với mật khẩu được sử dụng gần đây</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h6 class="fw-bold">Bảo mật hai lớp</h6>
                        <p style="font-size: 0.87rem;">Sử dụng xác thực hai lớp giúp tài khoản của bạn an toàn hơn, tránh được các giao dịch được thực hiện trái phép</p>
                        <div class="col-5">
                            <form action="">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" style="font-size: 0.87rem;">Xác thực khi thanh toán</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Không sử dụng OTP</option>
                                        <option value="1">Áp dụng với mọi IP</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold" style="font-size: 0.87rem;">Xác thực khi đăng nhập</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Không sử dụng OTP</option>
                                        <option value="1">Áp dụng với mọi IP</option>
                                        <option value="2">Chỉ yêu cầu với IP lạ</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold" style="font-size: 0.87rem;">Phương thức xác thực</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Bảo mật bằng Email</option>
                                        <option value="1">OBảo mật bằng Google Authenticatorne</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary" type="">Tiếp tục</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-user"></i> Tài khoản</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-cart-shopping"></i> Lịch sử đơn hàng</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-credit-card"></i> Lịch sử giao dịch</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-user-lock"></i> Mật khẩu và bảo mật</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-comment"></i> Bình luận của tôi</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid me-2 fa-heart"></i> Sản phẩm yêu thích</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-link"></i> Giới thiệu bạn bè</button>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4>Sản phẩm yêu thích</h4>
                    <p>Danh sách các sản phẩm mà bạn đã đánh dấu "yêu thích"</p>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <img class="img-fluid rounded" src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Kh%C3%A1c/Divine-Shop-Elden-Ring-82335.jpg?hash=1658742026" alt="">
                        </div>
                        <div class="col-6">
                            <h6>Elden Ring (CD Key Steam)</h6>
                            <p style="font-size: 0.85rem;">Elden Ring (CD Key Steam)</p>
                            <div>
                                <button type="button" class="btn text-danger fs-4">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                                <button type="button" class="btn text-primary"><i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ</button>
                            </div>
                        </div>
                        <div class="col-2 text-end">
                            <p style="font-size: 0.9rem;" class="m-0 fw-bold">249000đ</p>
                            <div class="d-flex gap-2 align-items-center justify-content-end">
                                <p style="font-size: 0.7rem;" class="m-0 text-bg-danger fw-bold rounded p-1">-81%</p>
                                <p style="font-size: 0.9rem;" class="m-0 text-decoration-line-through text-secondary">1299000đ</p>
                            </div>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn text-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-user"></i> Tài khoản</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid me-2 fa-cart-shopping"></i> Lịch sử đơn hàng</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-credit-card"></i> Lịch sử giao dịch</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-user-lock"></i> Mật khẩu và bảo mật</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-comment"></i> Bình luận của tôi</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-heart"></i> Sản phẩm yêu thích</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-link"></i> Giới thiệu bạn bè</button>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4>Lịch sử đơn hàng</h4>
                    <p>Hiển thị thông tin các sản phẩm bạn đã mua tại Divine Shop</p>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Mã đơn hàng">
                        </div>
                        <div class="col-2 ps-0">
                            <input type="number" class="form-control" placeholder="Số tiền từ">
                        </div>
                        <div class="col-2 ps-0">
                            <input type="number" class="form-control" placeholder="Số tiền đến">
                        </div>
                        <div class="col-2 ps-0">
                            <input type="date" class="form-control" placeholder="Từ ngày">
                        </div>
                        <div class="col-2 ps-0">
                            <input type="date" class="form-control" placeholder="Đến ngày">
                        </div>
                        <div class="col ps-0">
                            <button style="font-size: 0.85rem;" type="button" class="btn btn-primary float-end w-100 h-100 p-0"><i class="fa-solid fa-filter"></i> Lọc</button>
                        </div>
                    </div>
                    <div class="mt-4">
                        <table class="table table-bordered rounded" style="font-size: 0.85rem;" >
                            <thead>
                            <tr>
                                <th scope="col">Thời gian	</th>
                                <th scope="col">Mã đơn hàng	</th>
                                <th scope="col">Sản phẩm	</th>
                                <th scope="col">Tổng tiền	</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2022-08-16 22:09:01</td>
                                <td>5675166</td>
                                <td>Gói nâng cấp Office 365 1 năm (1TB)</td>
                                <td>249.000đ</td>
                                <td>Đã xử lý</td>
                                <td><a href="#" class="nav-link text-primary">Chi tiết</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-user"></i> Tài khoản</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action active"><i class="fa-solid me-2 fa-cart-shopping"></i> Lịch sử đơn hàng</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-credit-card"></i> Lịch sử giao dịch</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-user-lock"></i> Mật khẩu và bảo mật</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-comment"></i> Bình luận của tôi</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-heart"></i> Sản phẩm yêu thích</button>
                    <button type="button" class="py-3 px-4 text-secondary list-group-item list-group-item-action"><i class="fa-solid me-2 fa-link"></i> Giới thiệu bạn bè</button>
                </div>
            </div>
            <div class="col-9 bg-white rounded border">
                <div class="px-3 py-4">
                    <h4>Lịch sử giao dịch</h4>
                    <p>Hiển thị tất cả các giao dịch bạn dã thực hiện tại Divine Shop</p>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Mô tả">
                        </div>
                        <div class="col-2 ps-0">
                            <input type="number" class="form-control" placeholder="Số tiền từ">
                        </div>
                        <div class="col-2 ps-0">
                            <input type="number" class="form-control" placeholder="Số tiền đến">
                        </div>
                        <div class="col-2 ps-0">
                            <input type="date" class="form-control" placeholder="Từ ngày">
                        </div>
                        <div class="col-2 ps-0">
                            <input type="date" class="form-control" placeholder="Đến ngày">
                        </div>
                        <div class="col ps-0">
                            <button style="font-size: 0.85rem;" type="button" class="btn btn-primary float-end w-100 h-100 p-0"><i class="fa-solid fa-filter"></i> Lọc</button>
                        </div>
                    </div>
                    <div class="mt-4">
                        <table class="table table-bordered rounded" style="font-size: 0.85rem;" >
                            <thead>
                            <tr>
                                <th scope="col">Thời gian	</th>
                                <th scope="col" class="w-50">Mô tả</th>
                                <th scope="col" style="width: 15%;">Số tiền</th>
                                <th scope="col" style="width: 15%;">Số dư</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2022-11-16 18:50:57</td>
                                <td>Số ID đơn hàng: #5841931</td>
                                <td>-490.000đ</td>
                                <td>14.910đ</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>